rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  
    match /events/{content} {
    	
      // Auth users only
      allow create: if request.auth != null;
      allow read;
    }
  }
}